<div
  class="contain d-flex flex-column flex-justifiy-content-center flex-align-items-center"
  style="padding-top: 200px"
>
  <p>{{ nom | uppercase }}</p>
  <p>{{ date1 | date: "dd MMMM yy" | uppercase }}</p>
  <p>{{ date2 }}</p>

  <p>Nous sommes le {{ date1 | date: "fullDate":"":"fr" }}.</p>
  <p>Nous sommes le {{ date1 | date: "short":"":"fr" }}.</p>
  <p>Nous sommes le {{ date1 | date: "long":"":"fr" }}.</p>
  <p>Il est {{ date1 | date: "mediumTime":"":"fr" }}.</p>
  <p>Il est {{ date1 | date: "H:mm":"":"fr" }}.</p>
  <p>Il est {{ date1 | date: "dd/mm/y":"fr" }}.</p>

  <p>{{ phrase | slice: 0:21 | uppercase }}.</p>
  <!-- notre pipe custom -->
  <p>{{ "4477 5269 7894 6321" | cb }}</p>
</div>
<div
  class="contain d-flex flex-column flex-justifiy-content-center flex-align-items-center"
  style="padding-top: 100px"
>
  <!-- <button (click)="addname()">add</button> -->
  <div
    class="container d-flex flex-column flex-justify-content-center flex-align-items-center"
    style="padding-top: 200px"
  >
    <input type="text" [(ngModel)]="search" />
    <app-user-list [names]="names$ | async" [search]="search"></app-user-list>
  </div>

  <!-- liste des pipes 
UpperCasePipe : permet de transformer le texte pour le mettre tout en majuscules.
LowerCasePipe : permet de transformer le texte pour le mettre tout en minuscules.
TitleCasePipe : permet de transformer le texte pour mettre la première lettre de chaque mot en majuscule.
JsonPipe : permet de transformer une valeur en chaîne de caractères en utilisant JSON.stringify().
AsyncPipe : permet de souscrire à un Observable ou à une Promise et d’unsuscribe automatiquement afin d’éviter les fuites mémoires.
CurrencyPipe : permet de formater un nombre en monnaie, en indiquant optionnellement le symbole correspondant.
DatePipe : permet formater une date suivant plusieurs paramètres optionnels.
DecimalPipe : permet de formater un nombre décimal en utilisant des paramètres optionnels, comme le nombre de chiffre après la virgule.
SlicePipe : permet d’utiliser la méthode slice sur un tableau ou une chaîne de caractères en indiquant des paramètres.
PercentPipe : permet de formater un en pourcentage.-->
</div>
